.timescale{
    width: 100%;
    min-height: 100px;
    background: #ddcaff;
    border-top: 4px dashed #2a1233;
    margin-top: 10px;
    display: flex;
}
.description{
    display: flex;
    justify-content: space-between;
}